<p class="Title-Page">Phiếu đăng ký phiếu xin xuất container</p>

<div class="card">
    <mat-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Điền thông tin vận chuyển</ng-template>
                <div class="InputTem2">
                    <mat-form-field>
                        <mat-label>Phương tiện vận xuất container</mat-label>
                        <mat-select #inputPhuongTienVanChuyen >
                            <mat-option value="Tàu">Tàu</mat-option>
                            <mat-option value="Xe">Xe</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Biển số/ số hiệu phương tiện vận chuyển</mat-label>
                        <input matInput placeholder="Ex:20xx-xxx" formControlName="firstCtrl" #inputBienSo>
                    </mat-form-field>

                    <!-- mỗi component chỉ chứa một mã tên của datePicker nên phải gán bên từng datePick ở đây -->
                    <mat-form-field>
                        <mat-label>Ngày xuất cảng</mat-label> 
                            <input matInput [matDatepicker]="NgayToiCang" formControlName="firstCtrl" #InputNgayXuat >
                            <mat-datepicker #NgayToiCang/>
                            <mat-datepicker-toggle [for]="NgayToiCang" matSuffix/>
                    </mat-form-field>  
                    
                    <mat-form-field>
                        <mat-label>Giờ xuất cảng</mat-label>
                            <input matInput  #InputThoiGianXuat                             
                            [matTimepicker]="timepicker"                      
                            formControlName="firstCtrl"     
                            required                        
                            >
                            <mat-timepicker #timepicker/>
                        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
                    </mat-form-field>
                </div>                
                <div>
                    <button mat-button matStepperNext (click)="LuuThongTinDonViVanChuyen(inputPhuongTienVanChuyen)">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" optional> 
          <form [formGroup]="secondFormGroup" >
            <ng-template matStepLabel >Thông tin vận chuyển</ng-template>
                <div class="InputTem">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                    matSort (matSortChange)="announceSortChange($event)" 
                    >
                        <ng-container matColumnDef="id" class="hidden-column">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        
                        <!-- Position Column -->
                        <ng-container matColumnDef="macontainer">
                        <th mat-header-cell *matHeaderCellDef> Số container </th>
                        <td mat-cell *matCellDef="let element"> {{element.maContainer}} </td>
                        </ng-container>
            
                        <!-- Position Column -->
                        <ng-container matColumnDef="size">
                            <th mat-header-cell *matHeaderCellDef> Kích thước </th>
                            <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                        </ng-container>
                        
                        <!-- Position Column -->
                        <ng-container matColumnDef="tenloai">
                            <th mat-header-cell *matHeaderCellDef> Loại container </th>
                            <td mat-cell *matCellDef="let element"> {{element.tenLoai}} </td>
                        </ng-container>
                        
                        <!-- Ngày nhập công Column -->
                        <ng-container matColumnDef="ngaygiaocontainer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ngaygiaocontainer"> Ngày nhập cảng </th>
                            <td mat-cell *matCellDef="let element">{{element.ngayGiaoContainer | date:'dd/MM/YYYY' }}</td>
                        </ng-container>
            
                        <ng-container matColumnDef="choose">
                            <th mat-header-cell *matHeaderCellDef> Choose 
                                <mat-checkbox *ngIf="showItem(1)" (change)="checkAllIfSelected()"  ></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="checkIfSelected(element.id,element.size)"  formControlName="checkBox" ></mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>         
                </div>           
                <!-- nút page xử lý -->
                    <!-- <mat-paginator [pageSizeOptions]=  "[5, 10, 20]" -->
                    <mat-paginator [pageSizeOptions]="[5]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p style="margin-left: 31px;">You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="LAYSOLIEU(InputNgayXuat,InputThoiGianXuat,inputBienSo,inputPhuongTienVanChuyen)">Done</button>
          </div>
        </mat-step>
    </mat-stepper>
</div>

