

<h1>Danh sách Containers</h1>
  <div class="card">
    <div class="card-head">
        <p class="head-title">Active Container</p>
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-sreach">
                    <input #inputMaContainer
                        type = "search" class="sreach"  placeholder="Mã container"
                        (input)="SearchMaContainer(inputMaContainer)"
                    />
                    <mat-icon class="sreach-icon">find_in_page</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isLoading" class="loading-indicator">
        <!-- Hiển thị khi đang tải -->
        <p>Loading, please wait...</p>
    </div>
    
    <div *ngIf="!isLoading">
      <!-- Hiển thị dữ liệu sau khi tải -->
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
              matSort (matSortChange)="announceSortChange($event)"    
        >
            <ng-container matColumnDef="id" class="hidden-column">
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            

            <!-- Position Column -->
            <ng-container matColumnDef="macontainer">
              <th mat-header-cell *matHeaderCellDef> Số container </th>
              <td mat-cell *matCellDef="let element"> {{element.maContainer}} </td>
            </ng-container>
          
          
            <!-- Công ty Column -->
            <ng-container matColumnDef="tenkh">
              <th mat-header-cell *matHeaderCellDef> Công ty </th>
              <td mat-cell *matCellDef="let element"> {{element.tenKh}} </td>
            </ng-container>
          
            <!-- Số điện thoại Column -->
            <ng-container matColumnDef="sdt">
              <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
              <td mat-cell *matCellDef="let element"> {{element.sdt}} </td>
            </ng-container>

            <!-- Ngày nhập công Column -->
            <ng-container matColumnDef="ngayDiToiViTri">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày nhập cảng </th>
                <td mat-cell *matCellDef="let element">{{element.ngayDiToiViTri | date:'dd/MM/YYYY' }}</td>
            </ng-container>

            <!-- Ngày xuất cảng Column -->
            <ng-container matColumnDef="ngayXuatCang">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày xuất cảng </th>
                <td mat-cell *matCellDef="let element"> {{element.ngayXuatCang | date:'dd/MM/YYYY'}}</td>
            </ng-container>
          
            <!-- button action Column -->
            <ng-container  matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab extended class="button"
                      (click) = "TransformDetailPageContainer(element.id,element.maContainer,element.ngayDiToiViTri)" 
                      routerLink= "/mainApp/detailContainer"                                          
                    >                        
                      <div class="button-title">
                        <mat-icon class="button-icon">description</mat-icon>
                        <span>Details</span> 
                      </div>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
      </div>
      <!-- nút page xử lý -->
      <!-- <mat-paginator [pageSizeOptions]=  "[5, 10, 20]" -->
        <mat-paginator [pageSizeOptions]="[8]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
    
  </div>



